.SignUp{
  background-color: #CDFADB;
  color: #944E63;
  text-align:center;
  border: 30px solid: #12372A;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: linear-gradient();
  image-orientation:left;
}
